img {
    height: 100px;
    width: 100px;
    left: 328px;
    top: 64px;
    border-radius: 0px;
}

h1 {
    height: 30px;
    width: 567px;
    left: 94px;
    top: 196px;
    border-radius: nullpx;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
}

.message {
    height: 120px;
    width: 567px;
    left: 94px;
    top: 258px;
    border-radius: nullpx;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
}