.navbar {
    height: 44px;
    background-color: #000000;
}

.days {
    top: 4px;
    bottom: 2px;
    padding: 2px;
    margin-left: 277px;
    width: 184px;
    height: 27px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    /* Color - 5 */
    color: #a2a6b0;
}

.days span {
    color: white;
}

.contact {
    height: 18px;
    width: 165px;
    margin-right: 277px;
    top: 13px;
    border-radius: nullpx;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.navbar-expand-lg {
    position: absolute;
    height: 92px;
    top: 44px;
    background: white;
}

.brand-logo {
    height: 40px;
    width: 33x;
    margin-left: 175px;
    top: 13px;
}

ul {
    margin-left: 58.23px;
}

li {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 12px;
    margin-right: 12px;
}

a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.navbar-thirdbar {
    background-color: #ffffff;
    height: 101px;
    margin-top: 90px;
}

.about-product {
    position: absolute;
    width: 103px;
    height: 21px;
    margin-left: 275px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    /* Color - 10 */
    color: #666666;
}

.price {
    height: 101px;
    width: 125px;
    margin-left: 900px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    align-items: right;
    margin-top: 30px;
    padding: 20px;
}

.price p {
    height: 101px;
    width: 96px;
    left: 1282px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.input {
    position: absolute;
    height: 27px;
    width: 46px;
    left: 0px;
    top: 11px;
    border-radius: nullpx;
}

.counter {
    height: 101px;
    width: 125px;
    margin-left: 1100px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    align-items: right;
    margin-top: 220px;
    padding: 20px;
}

.container p {
    height: 18px;
    width: 100px;
    margin-left: 170px;
    margin-top: 26px;
    border-radius: nullpx;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
}

.container h1 {
    height: 48px;
    width: 583px;
    left: 381px;
    top: 349px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */
    color: #000000;
}

.container h2 {
    height: 18px;
    width: 138px;
    margin-left: 25px;
    top: 409px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
}

.description {
    height: 150px;
    width: 567px;
    left: 379px;
    top: 451px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.code {
    height: 9px;
    width: 70px;
    left: 381px;
    top: 803px;
    border-radius: nullpx;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 163px;
}

.input {
    position: absolute;
}