<div class="main-page">
    <div class="info">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="days">
                    <p>Mon-Thu: <span>9:30 AM - 5:30 PM</span></p>
                </div>
                <div class="contact">
                    <p>Contact Us: (00)1234 56789</p>
                </div>
            </div>
        </nav>
    </div>
    <div class="first-navbar">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <div class="brand-logo">
                    <img src="./assets/image1.png" />
                </div>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Laptop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Desktop PCs</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Networking Devices</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Printers and Scanners</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">PC Parts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">All Other Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Repairs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="product-bar">
        <div class="container">
            <nav class="navbar navbar-expand-lg-2">
                <div class="container-fluid">
                    <div class="about-product">
                        <p>About Product</p>
                    </div>
                    <div class="product-pricing">
                        <p>Price: $299.00</p>
                        <input type="number" id="paymentbtn">
                        <button class="btn btn-primary" (click)="goToCheckout(productQuantity)">
              Buy Now
            </button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <br />

    <div class="container text-center">
        <div class="row">
            <div class="col-7" style="background-color: #f5f7ff">
                <div class="container">
                    <p>{{ airpodsProduct.data.company }}</p>
                    <h1>{{ airpodsProduct.data.product_title }}</h1>
                    <h2>{{ airpodsProduct.data.product_subtitle }}</h2>
                    <div class="description">
                        <li *ngFor="let d of descriptionArray">{{ d }}</li>
                    </div>
                    <br />
                    <div class="code">
                        <p>{{ airpodsProduct.data.product_code }}</p>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="1000">
                            <img src="./assets/earpods.png" class="d-block" height="70%" width="70%" />
                        </div>
                        <div class="carousel-item" data-bs-interval="1000">
                            <img src="./assets/image 11.png" class="d-block" height="70%" width="70%" />
                        </div>
                        <div class="carousel-item" data-bs-interval="1000">
                            <img src="./assets/image 12.png" class="d-block" height="70%" width="70%" />
                        </div>
                        <div class="carousel-item" data-bs-interval="1000">
                            <img src="./assets/image 13.png" class="d-block" height="70%" width="70%" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>